# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

Seppi/android/*.hprof
Seppi/android/app/google-services.json

# dependencies
seppi-project/node_modules/*.json
seppi-project/node_modules/
!seppi-project/node_modules/jest
!seppi-project/node_modules/jest-runtime
.env
/.pnp
.pnp.js

# testing
/coverage

# production
seppi-project/build/

# misc
seppi-project/.env
.DS_Store
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*
