.recipe {
	display: flex;
	flex-direction: column;
	max-width: fit-content;
	justify-content: center;
	align-items: center;
}

.recipe-label {
	font-family: Roboto;
	font-style: normal;
	font-weight: bold;
	font-size: 18px;
	line-height: 21px;
	width: 100px;
	text-align: center;
}

.recipe-image {
	width: 200px;
	height: 150px;
	border-radius: 16px;
}

.image-container {
	display: block;
	padding: 20px 20px;
}