.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.loginForm {
  max-width: 600px;
  width: 100%;
  margin: 0 auto;
  padding: 9% 20px;
}

/* .registerDiv{
  display: flex;
  align-items: center;
  justify-content: center;
} */

body {
  background-color: #f8f9f9;
}

.MainBody {
  background-image: url("./images/home_page.png");
  background-color: #f8f9f9;
  height: 100vh;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
}

.signIn {
  width: 96%;
  text-align: right;
  padding: 2%;
}

#title {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 84px;
  line-height: 28px;
  color: #FFFFFF;
  text-shadow: 1px 0.5px 0.5px rgba(0,0,0, 0.5);
}

#logIN {
  background-color: transparent;
  color: white;
  transition: 0.3s;
  font-size: 20px;
  border: 3px solid white;
  border-radius: 25px;
  font-weight: 500;
  margin-right: 10px;
  border: 3px solid white;
  padding-left: 20px;
  padding-right: 20px;
  padding: 10px;
}

#logIN:hover{
  background-color:rgba(0,0,0, 0.5);
}

#signUP {
  color: black;
  font-size: 20px;
  font-weight: 500;
  border-radius: 25px;
  border: 3px solid white;
  background-color: white;
  padding: 10px;
  transition: 0.3s;
}

#signUP:hover{
  border: 3px solid rgba(0,0,0, 0.7);
}

#search {
  height: 30px;
  width: 36%;
  border-radius: 1px;
  border: white;
  padding: 25px;
  font-size: 25px;
}

#searchParameter {
  margin-top: 200px;
  width: 50%;
  top:0%;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  text-align: center;
}

#searchFilter {
  font-size: 16px;
  font-weight: bold;
  color: white;
  width: 14%;
  border-radius: 15px;
  border: 1px solid transparent;
  background-color: orange;
  padding: 0.4rem;
}

#filterImage {
  background-image: url("./images/filter.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.subBody {
  background-color: white;
  height: 70vh;
  display: block;
  background-position: center;
  background-repeat: repeat;
  background-size: cover;
  min-height:'768px',
}


.Suggestions {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  width: 60%;
  height: 50vh;
  margin: 10px auto;
  position: relative;
}

.SuggestionsHeading {
  color: black;
  height: 100vh;
  padding: 50px;
  font-size: 40px;
  font-weight: bold;
  text-align: center;
}

.suggestionsLoginText {
  color: black;
  height: 80vh;
  padding: 50px;
  padding-left: 80px;
  font-size: 20px;
  font-weight: bold
}

.leftPicture {
  position: center;
  /* replace with image pulled from search */
  background-image: url('https://www.edamam.com/web-img/e7b/e7b20984220bc1d611a0f615f12ac66d.jpg');
  background-position-x: center;
  background-size: 240px;
  height: 30vh;
  width: 30%;
  padding: 50px;
  background-repeat: no-repeat;
}

.leftDescription {
  padding-top: 260px;
  padding-left: 30px;
  text-align: center;
  width: 90%;
  font-size: 20px;
}

.middlePicture {
  /* replace with image pulled from search */
  background-image: url('./images/mysteryPhoto.png');
  background-position-x: center;
  background-size: 240px;
  height: 30vh;
  width: 30%;
  padding: 50px;
  background-repeat: no-repeat;
}

.middleDescription {
  padding-top: 260px;
  padding-left: 30px;
  text-align: center;
  width: 90%;
  font-size: 20px;
}

.rightPicture {
  /* replace with image pulled from search */
  background-image: url('./images/mysteryPhoto.png');
  background-position-x: center;
  background-size: 240px;
  height: 30vh;
  width: 30%;
  padding: 50px;
  background-repeat: no-repeat;
}

.rightDescription {
  padding-top: 260px;
  padding-left: 20px;
  text-align: center;
  width: 90%;
  font-size: 20px;
}

.Icons {
  margin-top: 100px;
  display: flex;
  position: relative;
  overflow-y: none;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height: 500px
}

.WelcomeTo {
  display: inline-flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  min-height:700px;
  position:relative;
  background: linear-gradient(180deg, #FFFFFF 0%, #F2F2F2 21.28%);
}

.leftsidePNG {
  background-image: url('./images/grocery4.png');
  background-size: 25rem;
  top:55%;
  display: block;
  overflow:hidden;
  bottom:60%;
  position: relative;
  left: 55%;
  margin-bottom: -8rem;
  margin-right: 10rem;
  margin-top:175px;
  margin-left:-8rem;
  padding-left: 200px;
  right:55%;
  left:15%;
  height: 480px;
  width: 40%;
  background-repeat: no-repeat;
}

.rightside {
  height: 60%;
  width: 55%;
  padding: 50px;
  padding-top: 170px;
  padding-right: 200px;
  text-align: center;
}

.rightsideText1 {
  color: grey;
}

#submitEmail {
  height: 30px;
  width: 60%;
  padding: 10px;
  padding-left: 15px;
  font-size: 20px;
}

#submitEmailButton {
  height: 33px;
  width: 20%;
  font-size: 20px;
  color: white;
  background-color: orange;
  border: 1px solid white;
}

.rightsideText2 {
  color: grey;
}


.edamamCredit {
  background-image: url('./images/edamam.png');
}

#loginArea {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-size: 40px;
  line-height: 40px;
  color: black;
}

#inner-title {
  font-weight: bold;
  height: 20px;
  padding-left: 130px;
  font-size: 30px;
}

#loginEmail {
  height: 40px;
  width: 100%;
  padding-left: 15px;
  font-size: 25px;
}

#loginPassword {
  height: 40px;
  width: 100%;
  padding: 10px;
  padding-left: 15px;
  margin-top: 10px;
  font-size: 25px;
}

#loginButton {
  font-size: 30px;
  color: white;
  width: 100%;
  border-radius: 25px;
  border: 3px solid white;
  border-radius: 15px;
  background-color: orange;
  padding: 10px;
}

#loginButtonSuggested {
  font-size: 30px;
  color: white;
  width: 100%;
  border-radius: 25px;
  border: 3px solid white;
  border-radius: 15px;
  background-color: orange;
  margin-top: 30px;
  padding: 10px;
}

#loginViewSuggested {
  display: block;
  justify-content: center;
}

#editAccountButton {
  font-size: 20px;
  color: white;
  width: 100%;
  border-radius: 25px;
  border: 3px solid white;
  border-radius: 15px;
  background-color: orange;
  padding: 10px;
}

#loginFooter {
  display: none;
  font-size: 20px;
  color: black;
  width: 100%;
  border-radius: 25px;
  border: 3px solid white;
  border-radius: 15px;
  padding: 10px;
}

#switchToRegister {
  font-size: 15px;
}
#registerLink {
  width: 15%;
  font-size: 15px;
  border-color: white;
  background-color: white;
  border: 3px white;
  color: orange;
}

#registerArea {
  text-align: center;
  font-family: Roboto;
  font-style: normal;
  font-size: 40px;
  line-height: 20px;
  color: black;
}

#RegisterHeader {
  font-weight: bold;
  height: 20px;
  padding-left: 105px;
  font-size: 30px;
}

#loginLink {
  width: 49%;
  font-size: 22px;
  text-align: right;
  border-color: white;
  background-color: white;
  border: 3px white;
  color: orange;
}

#registerDisplayName {
  height: 20px;
  width: 80%;
  padding: 10px;
  padding-left: 15px;
  margin-top: 30px;
  font-size: 25px;
}

#registerEmail {
  height: 20px;
  width: 80%;
  padding: 10px;
  padding-left: 15px;
  margin-top: 30px;
  font-size: 25px;
}

#registerPassword {
  height: 20px;
  width: 80%;
  padding: 10px;
  padding-left: 15px;
  margin-top: 30px;
  font-size: 25px;
}

#registerPasswordConfirm {
  height: 20px;
  width: 80%;
  padding: 10px;
  padding-left: 15px;
  margin-top: 30px;
  font-size: 25px;
}

#passwordInfo {
  text-align: center;
  width: 100%;
  font-size: 15px;
  color: grey;
}

#registerButton {
  font-size: 30px;
  color: white;
  width: 100%;
  border-radius: 25px;
  border: 3px solid white;
  border-radius: 15px;
  background-color: orange;
  padding: 10px;
}

#registerFooter {
  display: none;
  font-size: 20px;
  color: black;
  width: 100%;
  border-radius: 25px;
  border: 3px solid white;
  border-radius: 15px;
  padding: 10px;
}

#resultSearch {
  color: grey;
  height: 30px;
  width: 80%;
  border-radius: 1px;
  border: white;
  padding: 25px;
  font-size: 20px;
}

#FavPageButton {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 15px;
}

#FavImage {
  background-image: url("./images/heart.png");
  background-position-x: center;
  background-size: 100px;
  height: 70px;
  background-repeat: no-repeat;
}

#AccountSettings {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 15px;
}

#AccountImage {
  background-image: url("./images/user.png");
  background-position-x: center;
  background-size: 50px;
  height: 55px;
  background-repeat: no-repeat;
}

#List {
  background-color: transparent;
  border-color: transparent;
  color: white;
  font-size: 15px;
}

#ListImage {
  background-image: url("./images/list.png");
  background-position-x: center;
  background-size: 60px;
  height: 50px;
  width: 50px;
  background-repeat: no-repeat;
}

#FilterArea {
  height: 400px;
  width: 20%;
  font-size: 20px;
  font-weight: bold;
}

#FilterDropDowns {
  font-weight: normal;
}

#Results {
  background-color: grey;
  width: 80%;
  height: 710px;
  display: none;
}

#FiltersChosen {
  font-size: 20px;
  width: 100%;
}

#NumberOfResults {
  text-align: left;
  font-size: 20px;
}

#FavHeader {
  margin: 0 auto;
  width: 100%;
  align-items: center;
}

#FavContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#FavoritesRows {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

#HeartImage {
  background-image: url("./images/orangeheart.png");
  background-size: 120px;
  background-repeat: no-repeat;
  width: 50%;
  height: 120px;
  background-position-x: 100%;
}

#biggerHeartImage {
  background-image: url("./images/orangeheart.png");
  background-size: 250px;
  background-repeat: no-repeat;
  height: 150px;
  background-position-x: center;
  background-position-y: 50%;
}

#FavBody {
  width: 100%;
  height: 68.2%;
  background-color: #f2f2f2;
  font-weight: normal;
  font-size: 20px;
}

#listHeader {
  text-align: center;
}

.navbar {
  background-color: #fa730b;
  height: 100;
}

#SearchSubmitButton {
  background-color: #f9a00d;
  border: #f9a00d;
}

#SearchBar {
  justify-content: center;
  width: 100%;
}

.SearchForm {
  width: 200px !important;
  font: Roboto !important;
}

.navbar-container {
  position: sticky;
  top: 0;
  min-height: 100%;
  overflow: auto;
}

.navbar-brand {
  padding: 0 15px;
  font-weight: bold;
  font: Roboto;
  font-size: 2.25rem !important;
}

.filter-container {
  position: absolute;
  width: 16%;
  left: 31px;
  top: 110px;
}

#FilterTitle {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 32px;

  /* or 246% */
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: rgba(55, 63, 65, 0.85);
}

#FilterFolder {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 10px;
  line-height: 32px;

  /* identical to box height, or 320% */
  display: flex;
  align-items: center;
  letter-spacing: 0.2px;

  color: #fa730b;
}

#FilterDivider {
  position: absolute;
  height: 0px;
  left: 0px;
  right: 0px;
  /* top: 492px; */

  /* Black / 10 */
  border: 1px solid #e8e8e8;
}

.recipe-result-container {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  left: 19%;
  top: 15%;
}
.accountModalTitle {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
c .modal-title-text {
  text-align: center;
  top: 41px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  padding: 30px 30px;
}

#seppiButton:hover {
  cursor: pointer;
}

#helloText {
  text-align: center;
  top: 41px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  padding-top: 20px;
}

#emailText {
  padding: 0px;
  text-align: center;
  top: 41px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 42px;
  padding-bottom: 40px;
}

.modal-subtitle-text {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 18px;
  display: flex;
  text-align: center;
  padding-top: 20px;
}

.modal-account-top-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  margin-right: 200px;
  width: 100%;
}

#accountInfoResult {
  display: block;
  font-weight: bold;
  padding-bottom: 20px;
}

.account-input {
  margin-top: 25;
  margin-bottom: 25px;
}
